<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<settings>
        <!-- 使用列别名替换列名 默认:true
         select name as title from table
         -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 开启驼峰命名转换:Table(create_time) -> Entity(createTime) -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	
	<!-- 设置mabatis mapper 文件中数据库实体类的别名 -->
	<typeAliases>
		<typeAlias alias="Bounter" type="com.bounter.mybatis.entity.Bounter" />
	</typeAliases>
</configuration>